/* === ANY ELEMENT OVERRIDE === */
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /*font-family: 'Arial', sans-serif;*/
    font-family: 'Lato', sans-serif;
}

/* == COLOURS AS VARIABLES == */
:root {
    --white: #f6f6f6;
    --blue-navy: #1b3139ff;
    /* --grey: #48565F; */
    --grey: #999;
    --dark-grey: #2C363B;
    --dark-red: #3F0716;
    --dark-pink: #c10341;
    --gradient-red-01: #ECD6DB;
    --gradient-red-02: #D89CA9;
    --gradient-red-03: #B22846;
    --gradient-red-04: #78192E;
    --gradient-red-05: #400C1A;
    --computerpage-font-size: 16px;
    --my-palette-01: #d69254;
    --my-palette-02: #cd722d;
    --my-palette-03: #b16e5d;
    --my-palette-04: #7a5f96;
    --my-palette-05: #593e63;
    --my-palette-06: #0f2a47;
  }


/* === FULL PAGE ===*/
html,
body {
    height: 100%;
    overflow-x: hidden;
    font-size: var(--computerpage-font-size);
    /*background-image: linear-gradient(45deg, var(--white) 0%, var(--dark-pink) 100%); https://cssgradient.io/gradient-backgrounds/ */
    background-image: url("Img/Restaurant-img-33.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--white);
}

.page-content {
    margin: 3rem 0rem 0rem 0rem; /* Margin in order to leave space to the navbar below */
    background-color: rgba(0,0,0,5.0%);
    backdrop-filter: blur(8px);
}

.titles-h1 {
    font-size: 2.7rem;
    color: var(--my-palette-01);
    text-shadow: 0 0 2px var(--dark-grey);
    font-weight: bold;
    text-align: center;
}

/* === NAV ===*/
.nav-row {
    /*background-color: var(--blue-navy);*/
    background-color: rgba(0,0,0,45.0%);
    backdrop-filter: blur(90px);
    z-index: 100;
    position: fixed;
    top: 0%;
    width: 100%;
    height: 3rem;
    color: var(--dark-pink);
    box-shadow: 0rem 0rem 0.3rem var(--my-palette-01);
}

.nav-img {
    margin: 0.3rem 0rem 0rem 0rem;
    width: 23%;
}

.nav-img-col {
    text-align: right;
}

.nav-p {
    margin: 0.1rem 0rem 0.2rem 0rem;
    text-align: left;
    font-size: 0.8rem;
}

.nav-div {
    margin: 0.5rem 0rem 0.2rem 0rem;
    font-size: 1.25rem;
}

.nav-a {
    text-decoration: None;
    color: var(--my-palette-01);
}

.nav-a:hover {
    text-shadow: 0rem 0rem 0.12rem var(--my-palette-01);
}

.nav-a:active { /* When clicking on the link */
    text-shadow: 0rem 0rem 0.25rem var(--dark-red);
}   

/* === Filtering elements ===*/
.filter-div {
    font-size: .8rem;
    border-radius: 11px;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;    
}

.filter-row {
    margin-bottom: 0.35rem;
}

.filter-p {
    color: var(--my-palette-01);
    text-align: right;
    font-weight: bold;
    margin-top: 0.5rem;
    font-style: italic;
    text-shadow: 0 0 2px var(--dark-grey);
}

.Select-control, .Select-menu-outer {
    background-color: var(--dark-grey) !important;
    border-width: 1px;
    border-color: var(--my-palette-01) !important;
    font-size: .8rem;
  }

.Select-input > input {
    color: var(--my-palette-01) !important;
}

.Select-value-icon, .Select-value-label, .Select-value {
    font-size: .7rem;
    color: var(--my-palette-01) !important;
    border-color: var(--my-palette-01) !important;
}


/* === Graph style on CSS ===*/
.titles-h2 {
    font-size: 1.6rem;
    font-weight: bold;
    color: var(--my-palette-01);
}

.charts-p {
    color: var(--my-palette-01);
    font-size: 0.8rem;
    font-style: italic;
    margin: 0rem 0rem 0rem 0rem;
}

.charts-i {
    text-align: right;
    margin: 0rem 0.5rem 0rem 0rem;
}

.chart-div {
    background-color: rgba(0,0,0,77.0%);
    border-radius: 11px;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.chart-row {
    margin-bottom: 0.9rem;
}

.dash-default-spinner > div { /* Loading component */
    background-image: radial-gradient(circle at 0% 0.5%, rgb(241, 241, 242) 0.1%, rgb(224, 226, 228) 100.2%)
}