/* === ANY ELEMENT OVERRIDE === */
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

/* == COLORS AS VARIABLES == */
:root {
    --white: #f6f6f6;
    --grey: #999;
    --dark-grey: #2C363B;
    --computerpage-font-size: 16px;
    --my-palette-01: #d69254;
    --my-palette-02: #cd722d;
    --my-palette-03: #b16e5d;
    --my-palette-04: #7a5f96;
    --my-palette-05: #593e63;
    --my-palette-06: #0f2a47;
  }

/* === FULL PAGE ===*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    color: var(--my-palette-01);
}

html,
body {
    height: 100vh;
    font-size: var(--computerpage-font-size);
    background-image: url("Img/Restaurant-img-33.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--white);
    overflow-x: hidden;
}

body {
    scrollbar-width: thin;
    overflow: auto;
    scrollbar-color: var(--dark-grey) rgba(0,0,0,77.0%);
    overflow-x: hidden;
}

.page-content {
    margin: 3rem 0rem 0rem 0rem; /* Margin in order to leave space to the navbar below */
    background-color: rgba(0,0,0,5.0%);
    backdrop-filter: blur(8px);
}

.titles-h1, .titles-h1-info {
    font-size: 2.7rem;
    color: var(--my-palette-02);
    text-shadow: var(--my-palette-06) 1px 0 0.5rem;
    font-weight: bold;
}

.titles-h1 {
    text-align: center;
}

/* === EXPANDING BUTTONS ===*/
.expanding-title-row, .info-title-row {
    margin-bottom: 1.05rem;
    margin-top: 0.3rem;
}

.titles-h2, .titles-expand-h2 {
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--my-palette-02);
}

.titles-expand-h2 {
    font-size: 2rem;
    text-shadow: var(--my-palette-06) 1px 0 0.5rem;
}

.my-button, .submit-button {
    padding: 0rem 0rem 0rem 1rem;
    text-align: center;
    color: var(--my-palette-02);
    background-color : rgba(0,0,0,0);
    border: None;
}

.my-button:hover > i {
    box-shadow: 0 0 3rem var(--my-palette-03);
    color: var(--my-palette-03);
}

.my-button:active > i {
    box-shadow: 0 0 4rem var(--my-palette-05);
    color: var(--my-palette-04);
  }

.button-col {
    display: flex;
}

/* === NAV ===*/
.nav-row {
    background-color: rgba(0,0,0,45.0%);
    backdrop-filter: blur(90px);
    z-index: 100;
    position: fixed;
    top: 0%;
    width: 100%;
    height: 3rem;
    box-shadow: 0rem 0rem 0.3rem var(--my-palette-01);
}

.nav-img {
    margin: 0.3rem 0rem 0rem 0rem;
    width: 28%;
}

.nav-img-col {
    text-align: right;
}

.nav-p {
    margin: 0.1rem 0rem 0.2rem 0rem;
    text-align: left;
    font-size: 0.8rem;
}

.nav-div {
    margin: 0.5rem 0rem 0.2rem 0rem;
    font-size: 1.25rem;
}

.nav-a {
    text-decoration: None;
    color: var(--my-palette-01);
    margin: 0rem 0.65rem 0rem 0rem;
}

.nav-a:hover {
    text-shadow: 0rem 0rem 0.12rem var(--my-palette-01);
    color: var(--my-palette-03);
}

.nav-a:active { /* When clicking on the link */
    text-shadow: 0rem 0rem 0.25rem var(--my-palette-01);
    color: var(--my-palette-03);
}   

/* === FOOTER ===*/
.hr-footer {
    height: 0.4rem;
    color: var(--my-palette-01);
}

.footer, .footer-info {
    font-size: 0.75rem;
    color: var(--my-palette-01);;
}

/* === Filtering elements ===*/
.filter-div {
    font-size: .8rem;
    border-radius: 11px;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    background-color: rgba(0,0,0,77.0%);
    margin-bottom: 0.75rem;
} 

.filter-row {
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
}

.filter-p {
    color: var(--my-palette-01);
    text-align: right;
    font-weight: bold;
    margin-top: 0.5rem;
    font-style: italic;
    text-shadow: 0 0 2px var(--dark-grey);
}

.Select-control, .Select-menu-outer {
    background-color: var(--dark-grey) !important;
    border-width: 1px;
    border-color: var(--my-palette-01) !important;
    font-size: .8rem;
  }

.Select-input > input {
    color: var(--my-palette-01) !important;
}

.Select-value-icon, .Select-value-label, .Select-value {
    font-size: .7rem;
    color: var(--my-palette-01) !important;
    border-color: var(--my-palette-01) !important;
}

/* === Graph style on CSS ===*/
.charts-p {
    color: var(--my-palette-01);
    font-size: 0.8rem;
    font-style: italic;
    margin: 0rem 0rem 0rem 0rem;
}

.charts-i {
    text-align: right;
    margin: 0rem 0.5rem 0rem 0rem;
}

.chart-div, .info-div {
    background-color: rgba(0,0,0,77.0%);
    border-radius: 11px;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.chart-row, .search-results-row {
    margin-bottom: 1.5rem;
}

.search-results-row {
    margin-bottom: 2rem;
}

.dash-default-spinner > div { /* Loading component */
    background-image: radial-gradient(circle at 0% 0.5%, var(--my-palette-01) 0.1%, var(--my-palette-02) 100.2%)
}

/* === Search page ===*/
.search-bar-row {
    margin-bottom: 1.5rem;
}

.search-area {
    height: 2.5rem;
    width: 100%;
    padding: 0.5rem 0rem 0rem 0rem;
    border: None;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0rem 0rem 0.3rem var(--my-palette-01);
    background-color: var(--dark-grey) !important;
    font-size: .9rem;
}

.submit-button {
    text-align: center;
    border-radius: 20px;
    padding: 0rem 0rem 0rem 0rem;
    width: 65%;
    height: 2rem;
    margin-top: 0.10rem;
    background-color: var(--my-palette-01);
    color: var(--dark-grey);
    box-shadow: 0rem 0rem 0.3rem var(--my-palette-01);
}

.submit-button:hover {
    box-shadow: 0rem 0rem 2rem var(--my-palette-01);
}

.submit-button:active {
    box-shadow: 0rem 0rem 3rem var(--my-palette-01);
    background-color: var(--my-palette-03);
    color: var(--my-palette-06);
}

.alert-style {
    font-size: 0.75rem;
    padding: 0.2rem 0.8rem 0.2rem 0.8rem;
    text-align: center;
}

.card {
    border-color: var(--my-palette-03);
    margin: 0.7rem 0rem 0.3rem 0.15rem;
    background-color: rgba(0,0,0,30%); /* Remove background from the underlying card div */
    height: 18rem;
}

.card-header, .card-header-highlighted {
    text-align: right;
    /*background-color: rgba(0,0,0,50%);*/
    background-color: var(--dark-grey);
    padding: 0.2rem 0.7rem 0.2rem 0.7rem;
    font-size: 1.15rem;
}

.card-header > a, .card-header > i, .card-header > p {
    text-decoration: None;
    color: var(--my-palette-01);
}

.card-header > a, .card-header-highlighted > a {
    text-decoration: underline;
    font-weight: bold;
}

.card-header-highlighted {
    background-color: var(--my-palette-05);
    color: var(--my-palette-01) !important;
}
.card-header-highlighted > a, .card-header-highlighted > i, .card-header-highlighted > p {
    text-decoration: None;
    color: var(--my-palette-01) !important;
}

.card-body, .card-body-highlighted, .results-tiles-div {
    padding: 0.7rem 0.7rem 0.7rem 0.7rem;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--dark-grey) transparent;
    overflow-x: hidden;
}

.results-tiles-div {
    height: 40rem;
}

.results-tiles-div-empty {
    padding: 0.7rem 0.7rem 0.7rem 0.7rem;
}

.card-body, .card-body-highlighted {
    padding: 0.7rem 0.7rem 0.7rem 0.7rem;
}

.card-body > p, .card-body > p > i {
    font-size: 0.80rem;
    color: var(--my-palette-01);
}

.card-body-highlighted {
    background-color: var(--my-palette-05);
}

.card-body-highlighted > p, .card-body-highlighted > p > i {
    font-size: 0.80rem;
    color: var(--my-palette-01) !important;
}

.results-tiles-descr-p {
    margin-bottom: 0.4rem;
}

/* === Info page ===*/
.info-p {
    font-size: 1.5;
    margin: 1rem 1rem 1rem 1rem;
    color: var(--my-palette-01) !important;
}

.info-p > a {
    text-decoration: none;
    text-decoration: underline;
    font-style: italic;
    color: var(--my-palette-01) !important;
}

.info-div {
    padding-left: 1rem;
}